{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly",
    "definePageMeta": "readonly",
    "withDefaults": "readonly",
    "useRoute": "readonly",
    "useMeta": "readonly"
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "@vue/typescript/recommended",
    "plugin:import/typescript",
    "@vue/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "sort-imports": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/order": [2, { "alphabetize": { "order": "asc" } }],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0
  },
  "overrides": [
    // Fix no-used-vars when importing ts types in .vue files
    {
      "files": ["*.vue"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}