@use '~/assets/scss/resource/variables' as variable;
@use 'sass:math';
@mixin MixinFontSize($fontSize, $lineHeight: default) {
  $Mixinfont: math.div($fontSize, variable.$fontSizeDefault);
  font-size: #{$fontSize}px;
  font-size: #{$Mixinfont}rem;
  @if $lineHeight != default {
    $MixinlineHeight: math.div($lineHeight, $fontSize);
    line-height: $MixinlineHeight;
  }
}
