$whiteLight: #eee;
$gray: #2c3e50;

$fontSizeDefault: 16;
$fontFamilyDefault: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,
  sans-serif;

$sizeXlg: 1920px;
$sizeLg: 1280px;
$sizeMd: 1024px;
$sizeSm: 768px;
