[data-mode='light'] {
  @include colorsLight;
}

[data-mode='dark'] {
  @include colorsDark;
}

body {
  font-family: $fontFamilyDefault;
  font-size: (16 / $fontSizeDefault * 100%);
  color: var(--color-body);
  letter-spacing: 0.05em;
  background: var(--color-background-body);
  transition: 0.3s;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

main {
  display: block;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
